<h1>Hizzle Pad v0.1</h1>

<p>
	Welcome to HizzlePad! Hizzlepad is a place to write short (140 character or less)
	blurbs that no one will read. Way cool! The functionality of the site should mimic that of a stripped
	down version of Twitter(c).<br /><br />
	
	I made this application by following the excellent tutorial on
	Ruby on Rails 3 that can be found here:
	
	<a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>		

	Well what are you waiting for? Sign up and start HizzlePadding!
</p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>