<h1>About Us</h1>
<p>
	HizzlePad is like a very simple version of a slightly more famous site you may 
	have heard of. It was made with Ruby on Rails, following the book "Ruby on Rails 3 Tutorial" by Michael Hartl.
</p>
